.main{
    padding-bottom: 10px;
}

.main__somos{
    background-image: url(/images/somos/20.png);
    padding: 150px 0 100px 0;
    background-position: center top;
    background-size: cover;
}

.main__somos1{
    background-image: url(/images/somos/12.png);
    padding: 150px 0 100px 0;
    background-position: center top;
    background-size: cover;
}
.main__somos h1{
    color: #ffffff;
}
.main__somos2{
    background-image: url(/images/contacto/15.png);
    padding: 150px 0 100px 0;
    background-position: center top;
    background-size: cover;

}

.banner__somos{
    background-image: url(/images/somos/equipo.png) ;
    background-position: center center;
    background-size: cover; 
    padding: 200px;
    text-align: center;

    h2{
        color: #ffffff;
    }
    p{
        color: #ffffff;
    }
}