.about-section{
    background: url(/images/testimonios/pic.png) no-repeat left;
    background-size: 55%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 100px 0;
    box-shadow: 0 10px  30px 0px rgba(0,0,0,0.1);
}

.inner-container1{
    width: 55%;
    float: right;
    background-color: #fdfdfd;
    padding: 150px;
    box-shadow: 0 10px  30px 0px rgba(0,0,0,0.1);

h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}
}

.text{
    font-size: 13px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

.skills{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 13px;
}
@media screen and (max-width:1200px){
    .inner-container1{
        padding: 80px;
    }
}

@media screen and (max-width:1000px){
    .about-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container1{
        width: 100%;
    }
}

@media screen and (max-width:600px){
    .about-section{
        padding: 0;
    }
    .inner-container1{
        padding: 60px;
    }
}